<nav class="crew-panel-tabs">
  <ul>
    <li>{{localize 'revolutionary-darkcaribbean.crew-panel.tabs.ship'}}</li>
    <li>{{localize 'revolutionary-darkcaribbean.crew-panel.tabs.positions'}}</li>
    <li>{{localize 'revolutionary-darkcaribbean.crew-panel.tabs.teams'}}</li>
  </ul>
</nav>