<nav class="tabs" data-group="crew-tabs">
  {{> crew-tab tab="ship" label="revolutionary-darkcaribbean.crew-panel.tabs.ship" }}
  {{> crew-tab tab="positions" label="revolutionary-darkcaribbean.crew-panel.tabs.positions" }}
  {{> crew-tab tab="teams" label="revolutionary-darkcaribbean.crew-panel.tabs.teams" }}
</nav>