<nav class="tabs" data-group="crew-tabs">
  {{> tab tab="ship" group="crew-tabs" label="revolutionary-darkcaribbean.crew-panel.tabs.ship" }}
  {{> tab tab="positions" group="crew-tabs" label="revolutionary-darkcaribbean.crew-panel.tabs.positions" }}
  {{> tab tab="teams" group="crew-tabs" label="revolutionary-darkcaribbean.crew-panel.tabs.teams" }}
</nav>