<nav class="tabs" data-group="ghosts-tabs">
  {{> tab tab="potential" group="ghosts-tabs" label="revolutionary-darkcaribbean.ghosts-panel.tabs.potential" }}
  {{> tab tab="haunting" group="ghosts-tabs" label="revolutionary-darkcaribbean.ghosts-panel.tabs.haunting" }}
</nav>