#revolutionary-darkcaribbean-crew {
  .window-content {
    align-items: center;
    background: #000 url('/modules/revolutionary-darkcaribbean/artwork/crew.png') no-repeat top center;
    background-size: contain;
    display: flex;
    flex-direction: column;
    overflow: auto;
  }

  figcaption {
    font-style: normal;
  }

  nav.tabs {
    border-top: 0;
    border-bottom: 0;

    button {
      border-radius: 0;
      border: 0;
      border-bottom: 1px solid transparent;

      &.active {
        border-bottom-color: var(--color-shadow-primary);
        box-shadow: none;
        outline: none;
      }
    }
  }

  .crew-ship {
    padding: 1em;
    text-align: center;

    &,
    & > div {
      height: 100%;
      width: 100%;
    }

    & > div {
      align-items: center;
      display: flex;
      justify-content: center;
    }

    & > div > div,
    figure {
      width: 100%;
    }

    figure.ship img,
    figure.no-ship div {
      aspect-ratio: 1;
      box-shadow: 0 0 1em #000;
      margin: 1em auto;
      width: 60%;
    }

    figure.no-ship div {
      background: #333 url('/modules/revolutionary-darkcaribbean/artwork/no-ship.jpg') center;
      background-size: contain;
    }

    figure + button {
      margin: 2em auto;
    }
  }

  .crew-positions {
    max-width: 30rem;
    padding: 2em;
  }

  .position {
    summary {
      font-size: 1.5em;
    }

    & + .position {
      border-top: 1px solid var(--color-border);
      margin: 1em 0 0 0;
      padding: 1em 0 0 0;
    }

    fieldset.shares {
      border: 0;
      float: right;
      font-size: 0.75em;
      text-align: center;
      width: 4rem;

      input.shares {
        height: 1.5rem;
        text-align: center;
      }
    }
  }

  table.crew-listing {
    clear: both;

    tr {
      align-items: center;
      display: flex;
      flex-direction: row;
      width: 100%;
    }

    td.img {
      text-align: center;
      width: 4rem;
    }

    td.actions {
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      width: 5rem;
    }

    img {
      height: 2rem;
      width: 2rem;
    }

    td.name {
      flex-grow: 1;
    }
  }

  .crew-teams {
    padding: 2em;

    & > div {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 4em;
    }

    h4 {
      font-family: var(--font-body);
      font-size: var(--font-size-14);
    }
  }

  p.null {
    color: var(--color-form-hint);
    padding: 1em 0;
  }
}
