#revolutionary-darkcaribbean-crew {
  .window-content {
    background: #000 url('/modules/revolutionary-darkcaribbean/artwork/crew.png') no-repeat top center;
    background-size: contain;
    display: flex;
    flex-direction: column;
    overflow: auto;
  }

  nav.tabs {
    border-top: 0;
    border-bottom: 0;

    button {
      border-radius: 0;
      border: 0;
      border-bottom: 1px solid transparent;

      &.active {
        border-bottom-color: var(--color-shadow-primary);
        box-shadow: none;
        outline: none;
      }
    }
  }

  .crew-positions-page {
    padding: 1em;
  }

  .position {
    summary {
      font-size: 1.5em;
    }

    & + .position {
      border-top: 1px solid var(--color-border);
      margin: 1em 0 0 0;
      padding: 1em 0 0 0;
    }

    p.sans {
      color: var(--color-form-hint);
    }

    fieldset.shares {
      border: 0;
      float: right;
      font-size: 0.75em;
      text-align: center;
      width: 4rem;

      input.shares {
        height: 1.5rem;
        text-align: center;
      }
    }

    table {
      clear: both;

      tr {
        align-items: center;
        display: flex;
        flex-direction: row;
        width: 100%;
      }

      td.img {
        text-align: center;
        width: 4rem;
      }

      td.actions {
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        width: 5rem;
      }

      img {
        height: 2rem;
        width: 2rem;
      }

      td.name {
        flex-grow: 1;
      }
    }
  }
}