#revolutionary-darkcaribbean-date {
  background: #000;
  box-shadow: 0 0 10px #000;
  height: auto;
  opacity: 0.25;
  padding: 1em;
  position: absolute;
  transition: opacity 250ms ease-in-out;
  width: 15em;

  &:hover {
    opacity: 1;
  }

  p {
    margin: 0.25em 0 0 0;

    &:first-child {
      margin: 0;
    }
  }

  svg.lunar {
    fill: var(--color-light-3);
    margin: 0 0 0 0.5em;
  }

  nav {
    border-top: 1px solid var(--color-border);
    margin: 0.5em 0 0 0;
    padding: 0.5em 0 0 0;
    text-align: center;

    button {
      border: 0;
      display: inline-block;
    }
  }
}

#revolutionary-darkcaribbean-set-time {
  select {
    margin: -1em -0.5em 0.5em -0.5em;
  }
}