#revolutionary-darkcaribbean-ghosts {
  nav.tabs {
    border-top: 0;
    border-bottom: 0;

    button {
      border-radius: 0;
      border: 0;
      border-bottom: 1px solid transparent;

      &.active {
        border-bottom-color: var(--color-shadow-primary);
        box-shadow: none;
        outline: none;
      }
    }
  }

  .tab {
    flex-grow: 1;
    padding: 2em;
    height: calc(100% - 2em);
  }

  .nil {
    display: grid;
    height: 100%;
    place-items: center;
    width: 100%;

    .nil-content {
      text-align: center;

      button {
        margin: 1em auto;
      }
    }
  }

  .ghosts-listing {
    display: grid;
    grid-template-columns: 15em 1fr;
    grid-gap: 3em;
    height: 100%;

    nav {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr auto;
      min-height: 0;

      ul {
        list-style-type: none;
        margin: 0;
        overflow: auto;
        padding: 0;

        li {
          cursor: pointer;
          padding: 0.5em;

          &.active {
            background: #333;
          }
        }
      }
    }

    .actions {
      padding: 0.5em;
      text-align: center;

      button {
        display: inline-block;
        margin: 0.5em;
      }
    }

    .ghost-card {
      overflow: auto;

      .edit {
        float: right;
        margin: 0 0 2em 2em;
      }

      label {
        font-weight: bold;
      }

      .hint {
        color: var(--color-form-hint);
      }

      .ghost-field {
        height: var(--input-height);
        line-height: var(--input-height);
      }

      input[type="text"] {
        margin: 0.5rem 0;
      }

      prose-mirror {
        height: 20em;
      }
    }
  }
}
