#revolutionary-darkcaribbean-ledger {
  background: transparent url('/modules/limithron-landingpagekit/assets/Book-Green.webp') center;
  background-size: contain;
  position: absolute;

  &.minimizing {
    display: none;
  }

  .page {
    position: absolute;
    top: 50px;
    width: 260px;

    &.left {
      left: 150px;
    }

    &.right {
      right: 130px;
    }
  }

  caption {
    color: var(--color-dark-1);
    padding: 0.5em 0;
  }

  table {
    background-color: transparent;
    color: var(--color-dark-1);
  }

  tbody {
    border-top: 1px solid var(--color-dark-1);
  }

  td {
    font-weight: normal;
    padding: 0.5em 0;
  }

  td.amount,
  td.action {
    text-align: right;

    button {
      display: inline;
    }
  }

  td.estimate {
    font-size: 75%;
    padding: 0 0 1em 0;
  }

  table.shares {
    display: flex;
    flex-direction: column;
    font-size: 75%;
    width: 100%;

    thead, tfoot {
      background: transparent;
      border: 0;
      display: table;
      table-layout: fixed;
      width: 100%;
    }

    tfoot {
      border-top: 1px solid var(--color-dark-1);
      font-weight: bold;
    }

    tbody {
      display: block;
      max-height: 200px;
      overflow-y: auto;

      tr {
        display: table;
        width: 100%;
        table-layout: fixed;
      }
    }

    th, td {
      width: 70%;

      &.shares {
        text-align: right;
        width: 30%;
      }
    }
  }

  button[data-action="payout"] {
    margin: 1em auto;
  }

  button[data-action="close-ledger"] {
    bottom: 100px;
    right: 130px;
    position: absolute;
  }
}

.dialog-content .note {
  margin: 0;
}
